# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{py,sh}]
indent_style = space
indent_size = 4

[*.{html,js,jsx,css}]
indent_style = space
indent_size = 2

[*.{json,yml}]
indent_style = space
indent_size = 2

[*.{md,rst}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[setup.cfg]
indent_style = tab
trim_trailing_whitespace = false
