include README.md
include LICENSE
include requirements.txt
include requirements/requirements-base.in
recursive-include rest_registration/templates *.txt *.html
recursive-include rest_registration/locale *.mo *.po
prune examples
