{% for f in settings_fields %}

{% if generate_setting_refs %}
.. _{{ f.name|lower|replace('_', '-') }}-setting:
{% endif %}

'{{ f.name }}'
~{{ '~' * f.name|length }}~
{% if (f.default|pprint).split('\n')|length > 1 %}
Default:

.. code:: python

    {{ f.default|pprint|indent(width=4) }}

{% else %}
Default: ``{{ f.default|pprint }}``
{% endif %}
{% if f.help %}
{{ f.help }}
{% else %}
No description available, please add it
`here <https://github.com/apragacz/django-rest-registration/blob/master/rest_registration/settings_fields.py>`__!
{% endif %}
{% endfor %}
