# linting
flake8<6.0
flake8-comprehensions
flake8-debugger
flake8-isort
flake8-print
flake8-tuple
isort<6.0
pylint

# type checking
mypy
django-stubs
djangorestframework-stubs

# testing
coreapi
pytest
tox
pytest-django
pytest-cov

# package building
build
docutils
Pygments>=2.2.0
twine>=1.11.0
wheel>=0.31.0
readme_renderer[md]

# documentation
Sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinx-jinja
doc8
